---
layout: articles
title: Publications
show_title: false
hero_image: img/possible_hero_photos/DSC_8642.JPG
articles:
    data_source: site.posts
    filter_tag: "papers"
    type: item
    article_type: BlogPosting
    show_cover: false
    show_info: true
    show_excerpt: true
    excerpt_type: text
    show_readmore: true
---
<div class="hero-container" style="background-image: url({{ page.hero_image }})">
  <div class="hero-text">
    <h1>Publications</h1>
  </div>
  {% include svg/down-arrow2-svgrepo-com.svg dark="true" %}
</div>
<div class="hero-spacer"></div>
<script> {% include scripts/components/hero.js %}</script>
