.sticky-sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 64px;
  height: 1px;
  @include media-breakpoint-down(lg) {
    position: relative;
    position: -webkit-relative;
    top: unset;
    height: auto;
  }
}

