.sticky-sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 64px;
  height: 1px;
  @include media-breakpoint-down(lg) {
    position: relative;
    position: -webkit-relative;
    top: unset;
    height: auto;
  }
  .content {
    border-left: 4px solid $main-color-3;
    padding-left: 32px;
    max-height: calc(100vh - 240px);
    overflow: scroll;
    h2 {
      margin-top: 0;
      padding-top: 0;
    }
  }
  &.pad-top {
    padding-top: 64px;
  }
}

