{% if page.fallback_color %}
{% assign _bgcolor = page.fallback_color %}
{% else %}
{% assign _bgcolor = "ffffff" %}
{% endif %}
{% if page.long_title %}
{% assign long = "long" %}
{% else %}
{% assign long = "" %}
{% endif %}
<div class="hero-container" style="background-image: url({{ page.hero_image }}); background-color: #{{ _bgcolor }}">
  {% if page.banner_color %}
  <div class="hero-text {{ long }}" style="background-color:{{ page.banner_color }}">
  {% else %}
  <div class="hero-text {{ long }}">
  {% endif %}
    <h1>{{ page.title | upcase }}</h1>
  </div>
  {% include svg/down-arrow2-svgrepo-com.svg dark=page.dark_arrow %}
</div>
<div class="hero-spacer"></div>
<script> {% include scripts/components/hero.js %}</script>
