<div id="mobile-menu-icon" tabindex="0" onclick="togglemenu()">
  <hr />
  <hr />
  <hr />
</div>

<div id="mobile-menu">
  <div id="links-container">
    <ul class="main-list">
    {%- for _item in site.data.navigation.header -%}
      {%- include snippets/get-nav-url.html path=_item.url -%}
      {%- assign _nav_url = __return -%}
      {%- include snippets/get-nav-url.html path=page.url -%}
      {%- assign _page_url = __return -%}
      {%- include snippets/get-string-from-locale-config.html locale=_item.titles -%}
      <li>
        <a class="mobile-menu-item" tabindex="-1" href="{{ _nav_url }}">{%- if _item.title -%}{{ _item.title }}{%- else -%}{{ __return }}{%- endif -%}</a>
        {%- if _item.subheadings -%}
        <ul class="submenu">
        {%- for _subheading in _item.subheadings -%}
        {%- include snippets/get-nav-url.html path=_subheading.url -%}
        {%- assign _subheading_url = __return -%}
        <li>
          <a class="mobile-menu-item" tabindex="-1" href="{{ _subheading_url }}">{{ _subheading.title }}</a>
        </li>
        {%- endfor -%}
        </ul>
        {%- endif -%}
      </li>
    {%- endfor -%}
    </ul>
    {% include /svg/mobile-menu-up-arrow.svg %}
  </div>
</div>

<script>
  let menuItems
  let mobileMenu
  let mobileMenuIcon
  let upArrow
  document.addEventListener('DOMContentLoaded', () => {
    menuItems = document.querySelectorAll(".mobile-menu-item")
    mobileMenu = document.querySelector("#mobile-menu")
    mobileMenuIcon = document.querySelector("#mobile-menu-icon")
    upArrow = document.querySelector("#mobile-menu-up-arrow")
    mobileMenuIcon.addEventListener("keydown", e => {
      if (e.key === "Enter" || e.key === " ") {
        e.preventDefault()
        togglemenu()
      }
    })
    upArrow.addEventListener("keydown", e => {
      if (e.key === "Enter" || e.key === " ") {
        e.preventDefault()
        togglemenu()
      }
    })
  })
  const expandmenu = () => {
      mobileMenu.className = "expanded"
      mobileMenuIcon.className = "expanded"
      document.querySelector("html").style.overflowY = "hidden"
      menuItems.forEach(item => {
        item.setAttribute("tabindex", "0")
      })
  }
  const retractmenu = () => {
      mobileMenu.className = ""
      mobileMenuIcon.className = ""
      document.querySelector("html").style.overflowY = "scroll"
      menuItems.forEach(item => {
        item.setAttribute("tabindex", "01")
      })
  }
  const togglemenu = () => {
    if (mobileMenu.className == "") {
      expandmenu()
    } else {
      retractmenu()
    }
  }
  // if the window expands then make sure we close the menu so it doesn't reappear if the window shrinks
  window.onresize = () => {
    if (window.innerWidth > 1024) {
      retractmenu()
    }
  }
</script>
