{% if include.images %}
<div class="triple-box-container triple-image">
  <a class="box img-bg" href={{ include.link1 }} style="background-image:
    url({{ include.img_1 }});">
    <h3>{{ include.box1 }}</h3>
  </a>
  <a class="box img-bg" href={{ include.link2 }} style="background-image:
  url({{ include.img_2 }});">
    <h3>{{ include.box2 }}</h3>
  </a>
  <a class="box img-bg" href={{ include.link3 }} style="background-image:
  url({{ include.img_3 }})">
    <h3>{{ include.box3 }}</h3>
  </a>
</div>
{% else %}
<div class="triple-box-container">
  <a class="box" href={{ include.link1 }}>
    <h3>{{ include.box1 }}</h3>
  </a>
  <a class="box" href={{ include.link2 }}>
    <h3>{{ include.box2 }}</h3>
  </a>
  <a class="box" href={{ include.link3 }}>
    <h3>{{ include.box3 }}</h3>
  </a>
</div>
{% endif %}
