{% if include.images %}
{% if include.small_text %}
<div class="triple-box-container triple-image small-text">
{% else %}
<div class="triple-box-container triple-image">
{% endif %}
  <a class="box img-bg" href={{ include.link1 }} style="background-image:
    url({{ include.img_1 }});">
    <div class="text-content">
    <h3>{{ include.box1 }}</h3>
    {% if include.text1 %}
    <p class="box-text">{{ include.text1 }}</p>
    {% endif %}
    </div>
  </a>
  <a class="box img-bg" href={{ include.link2 }} style="background-image:
  url({{ include.img_2 }});">
    <div class="text-content">
    <h3>{{ include.box2 }}</h3>
    {% if include.text2 %}
    <p class="box-text">{{ include.text2 }}</p>
    {% endif %}
    </div>
  </a>
  <a class="box img-bg" href={{ include.link3 }} style="background-image:
  url({{ include.img_3 }})">
    <div class="text-content">
    <h3>{{ include.box3 }}</h3>
    {% if include.text3 %}
    <p class="box-text">{{ include.text3 }}</p>
    {% endif %}
    </div>
  </a>
</div>
{% else %}
<div class="triple-box-container">
  <a class="box" href={{ include.link1 }}>
    <h3>{{ include.box1 }}</h3>
  </a>
  <a class="box" href={{ include.link2 }}>
    <h3>{{ include.box2 }}</h3>
  </a>
  <a class="box" href={{ include.link3 }}>
    <h3>{{ include.box3 }}</h3>
  </a>
</div>
{% endif %}
