.hero-container {
  // sizing and positioning
  width: 100vw;
  height: calc(100vh - 80px);
  min-height: 200px;
  position: absolute;
  top: 80px;
  left: 0;

  // parallax effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-text {
    width: 100%;

    // vertical centering
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: map-get($base, font-size-h1-lg);
      font-weight: 700
    }
    
    h1,h2 {
      color: $text-color-1;
      font-family: "Josefin Sans", sans-serif;
    }
  }
}

.hero-spacer {
  height: calc(100vh - 80px);
}

@include media-breakpoint-down(md) {
  .hero-container {
    height: calc(100vh - 64px);
    top: 64px;
  }
  .hero-spacer {
    height: calc(100vh - 64px);
  }
}
