.hero-container {
  // sizing and positioning
  width: 100vw;
  height: calc(100vh - 80px);
  min-height: 200px;
  position: absolute;
  top: 80px;
  left: 0;

  // parallax effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // temporary safari fix
  @supports (-webkit-overflow-scrolling: touch) {
    @include media-breakpoint-down(lg) {
      background-attachment: scroll;
    }
  }

  .hero-text {

    position: absolute;
    // center positioning
    // top: calc(50% - 100px);
    // left: 50%;
    // transform: translate(-50%, -50%);
    // text-align: center;
    //width: 100%;

    // bottom left positioning
    bottom: 96px;
    left: 96px;

    // revert to center positioning on smaller screens
    @include media-breakpoint-down(lg) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      &.long h1 {
        font-size: 3rem;
      }
    }

    h1 {
      font-size: 5rem;
      font-weight: 700;
      padding: 1.75rem;
      letter-spacing: -2px;
    }
    h2 {
      font-size: 2rem;
      letter-spacing: -1px;
    }

    h1,h2 {
      color: $text-color-1;
      font-family: "Josefin Sans", sans-serif;
    }
  }
}

.hero-spacer {
  height: calc(100vh);
}

.prompt-arrow {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  cursor: pointer;
  fill: rgba($text-color-1, 0.8);
  &.dark {
    fill: rgba(88, 88, 90, 0.8)
  }
  &:hover {
    width: 120px;
    height: 120px;
    bottom: 20px;
  }
  transition: 100ms
}

@include media-breakpoint-down(md) {
  .hero-container {
    height: calc(100vh - 64px);
    top: 64px;
    .hero-text {
      h1 {
        font-size: 2.5rem
      }
      h2 {
        font-size: 1.5rem
      }
    }
  }
  .hero-spacer {
    height: calc(100vh - 16px);
  }
}
