.triple-box-container {
  margin: 36px 0 24px 0;
  display: grid;
  grid-template-columns: repeat(3, calc(33.3% - 16px));

  @include media-breakpoint-down(lg) {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 8px;
  }

  justify-content: space-between;
  font-family: "Josefin Sans", sans-serif;
  &.triple-image .box {
    padding: 0px;
  }
  .box {
    background-color: $main-color-1;
    padding: 16px;
    text-align: center;
    h3 {
      color: $text-color-1;
      font-size: 18px;
    }
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.3);
    @include link-colors($text-color-1, $text-color-1)
  }
  .box:first-of-type {
    background-color: $main-color-2;
  }
  .box:last-of-type {
    background-color: $main-color-3;
  }
  .box:hover {
    cursor: pointer;
    color: $text-color-1
  }

  &.small-text .box.img-bg h3 {
    font-size: 1.5rem;
  }


  .box.img-bg {
    background-color:  black;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0 0 10000px rgba(0,0,0,0);

    @include media-breakpoint-down(lg) {
      padding-bottom: 0;
      height: 40vw;
    }

    .text-content {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%)
    }

    h3 {
      padding: 0 12px;
      width: 100%;
      text-align: center;
      font-size: map-get($base, font-size-h2-xl);
      @include media-breakpoint-down(lg) {
        font-size: 3.5rem;
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 22px;
        line-height: 0.8;
      }
      @include media-breakpoint-down(md) {
        font-size: 2.5rem;
      }
    }

    p {
      padding: 0 12px;
      font-size: 1.1rem;
      @include media-breakpoint-down(lg) {
        text-align: left;
        font-size: 1.4rem;
        margin-top: 0;
        padding-top: 0;
        padding-left: 24px;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.2rem;
      }
    }

    &:hover {
      box-shadow: inset 0 0 10000px rgba(255,255,255,0.5);
      transform: translateY(-10px);
    }
  }
}
