---
layout: page
show_title: false
---
{% if page.fallback_color %}
{% assign _bgcolor = page.fallback_color %}
{% else %}
{% assign _bgcolor = "ffffff" %}
{% endif %}
<div class="hero-container" style="background-image: url({{ page.hero_image }}); background-color: #{{ _bgcolor }}">
  <div class="hero-text">
    <h1>{{ page.title }}</h1>
  </div>
  {% include svg/down-arrow2-svgrepo-com.svg dark=page.dark_arrow %}
</div>
<div class="hero-spacer"></div>
<script> {% include scripts/components/hero.js %}</script>
{{ content }}
