---
layout: page
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
---
{% if page.fallback_color %}
{% assign _bgcolor = page.fallback_color %}
{% else %}
{% assign _bgcolor = "ffffff" %}
{% endif %}
<div class="layout--home">
  <div class="hero-container" style="background-image: url({{ page.hero_image }}); background-color: #{{ _bgcolor }}">
    <div class="hero-text">
      <h1>POWER TRANSFORMATION LAB</h1>
      <h2>Engineering and institutions for a cleaner grid</h2>
      <hr />
    </div>
    {% include svg/down-arrow2-svgrepo-com.svg dark="true" %}
  </div>
  <div class="hero-spacer"></div>
<script> {% include scripts/components/hero.js %}</script>
<script>
  {%- include scripts/home.js -%}
</script>

<p>
<img src="img/logo_no_text.png" id="mini-logo" />
The Power Transformation Lab at the University of California, San Diego studies the engineering and institutional requirements of deploying low-carbon energy at scale. We work across multiple geographies and with academic, government, civil society, and industry partners to advance research and solutions to climate and environmental challenges.
</p>

{% include triple_link_box.html
  images = true
  img_1 = "img/home/Home-page-Our-research.jpg"
  img_2 = "img/home/Home-page-Our-impact.jpg"
  img_3 = "img/home/Home-page-our-team.jpg"
  box1 = "Our Research"
  box2 = "Our Impact"
  box3 = "Our Team"
  link1 = "research.html"
  link2 = "news.html"
  link3 = "team.html"
%}

</div>
