---
layout: page
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
---
<div class="layout--home">
  <div class="hero-container" style="background-image: url({{ page.hero_image }})">
  <div class="hero-text">
    <h1>POWER TRANSFORMATION LAB</h1>
    <h2>Planning connections for a cleaner globe</h2>
    <hr />
  </div>
  </div>
  <div class="hero-spacer"></div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
</div>
