---
layout: page
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  主页
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  主頁
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       홈
  ko-KR   : *KO
  fr      : &FR       Accueil
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  tr      : &TR       Ana Sayfa
  # @end locale config
show_title: false
---
{% if page.fallback_color %}
{% assign _bgcolor = page.fallback_color %}
{% else %}
{% assign _bgcolor = "ffffff" %}
{% endif %}
{% assign banner = site.alert_banner | first %}
{% if banner.enabled %}
{% include alert_banner.html %}
{% endif %}
<div class="layout--home">
  <div class="hero-container" style="background-image: url({{ page.hero_image }}); background-color: #{{ _bgcolor }}">
    <div class="hero-text">
      <h1>POWER TRANSFORMATION LAB</h1>
      <h2>Engineering and institutions for a cleaner grid</h2>
    </div>
    {% include svg/down-arrow2-svgrepo-com.svg %}
  </div>
  <div class="hero-spacer"></div>
<script> {% include scripts/components/hero.js %}</script>
<script>
  {%- include scripts/home.js -%}
</script>

<p class="body-text">
<span id="mini-logo-container"><img src="img/logo_no_text.png" id="mini-logo"
  /></span>
The Power Transformation Lab at the University of California, San Diego studies the engineering and institutional requirements of deploying low-carbon energy at scale. We work across multiple geographies and with academic, government, civil society, and industry partners to advance research and solutions to climate and environmental challenges.
</p>

<div class="swiper" id="home-swiper">
<div class="swiper__wrapper">
  {% for _article in site.posts %}
  {% if _article.tags contains "home" %}
  {% if _article.image %}
  <a class="swiper__slide" style="background-image: url({{site.baseurl}}{{_article.image}})" href="{{_article.url}}"}>
  {% else %}
  <a class="swiper__slide solid-bg">
  {% endif %}
    <h3>{{ _article.title }}</h3>
  </a>
  {% endif %}
  {% endfor %}
</div>
 <div class="swiper__button swiper__button--prev fas fa-chevron-left"></div>
  <div class="swiper__button swiper__button--next fas fa-chevron-right"></div>
</div>

<script>
  {%- include scripts/lib/swiper.js -%}
var SOURCES = window.TEXT_VARIABLES.sources;
window.Lazyload.js(SOURCES.jquery, function() {
  $('#home-swiper').swiper();
});
</script>


{% include triple_link_box.html
  images = true
  img_1 = "img/home/Home-page-Our-research.jpg"
  img_2 = "img/home/Home-page-Our-impact.jpg"
  img_3 = "img/home/Home-page-our-team.jpg"
  box1 = "Our Research"
  box2 = "Our Impact"
  box3 = "Our Team"
  link1 = "research.html"
  link2 = "news.html"
  link3 = "team.html"
  text1 = "View our publications and the open models and data of our lab"
  text2 = "View updates from the lab, coverage in the media, and outreach efforts"
  text3 = "Meet our team and learn about research and educational opportunities with the lab"
%}

<div id="bottom-hero-spacer">
  <div id="bottom-hero" style="background-image:
    url({{site.baseurl}}/img/transparent-map---green.png)">
    <a class="text-container" href="opportunities.html">
      <h2>OPPORTUNITIES AT POWER TRANSFORMATION LAB</h2>
      <p>Plan your next step in helping to make cleaner energy a global
      reality.</p>
    </a>
  </div>
</div>
</div>
