---
layout: page
titles:
  # @start locale config
  en      : News
  # @end locale config
show_title: false
---
<div class="layout--page">
  <div class="hero-container" style="background-color: #7695cd">
    <div class="hero-text">
      <h1>News</h1>
    </div>
  </div>
  <div id="in-the-media-container">
    <h2>In The Media</h2>
    {% for media_mention in site.in_the_media %}
    <a class="media-card">
      <h3>{{ media_mention.title }}</h3>
      {% if media_mention.image %}
      <p>Image Placeholder</p>
      {% endif %}
      <p>{{ media_mention.description }}</p>
    </a>
    {% endfor %}
  </div>
  <div id="lab-updates-container">
    <h2>Lab Updates</h2>
    {% assign _recent_articles = site.posts | slice:0,3 %}
    {%- include article-list.html 
      articles=_recent_articles 
      type='item'
      article_type='BlogPosting'
      show_excerpt=true
      show_readmore=true
      show_info=true
    -%}
  </div>
</div>

<script>
  {%- include scripts/news.js -%}
</script>
