---
layout: hero_page
titles:
  # @start locale config
  en      : News
  # @end locale config
---
<div class="layout--page layout--news">
  <div id="news-content-container" class="grid grid--p-3">
    <div id="lab-updates-container" class="cell cell--12 cell--lg-8">
      <h2 class="section-header">Lab Updates</h2>
      <div class="layout--archive js-all">
        {%- include tags.html -%}
        <div class="js-result layout--archive__result d-none">
          {%- include article-list.html articles=site.posts type='brief' show_info=true reverse=true group_by='year' -%}
        </div>
      </div>
      <script>
        {%- include scripts/archieve.js -%}
      </script>
    </div>
    <div id="in-the-media-container" class="cell cell--12 cell--lg-4">
      <h2 class="section-header">Recent Media Updates</h2>
      <ul>
      {% assign _recent_media = site.in_the_media | reverse | slice:1,3 %}
      {% for media_mention in _recent_media %}
      <li><a class="media-card" href="{{ media_mention.link }}" target="_blank">
        <h3>{{ media_mention.title }}</h3>
        {% if media_mention.image %}
        <p>Image Placeholder</p>
        {% endif %}
        <p>{{ media_mention.description }}</p>
        </a></li>
      {% endfor %}
      </ul>
      <a href="{{ site.baseurl }}/in_the_media.html">View More </a>
    </div>
  </div>
</div>

<script>
  {%- include scripts/news.js -%}
</script>
