---
layout: hero_page
---
<div class="layout__publications">
  {% include triple_link_box.html
    box1 = "Renewable energy planning"
    box2 = "Power markets"
    box3 = "Political economy"
    link1 = "renewable_energy_planning"
    link2 = "power_markets"
    link3 = "political_economy"
  %}

  <p><a id="show-all" href="">Show All</a></p>

  {%- assign papers_list = site.posts | where_exp:"item","item.tags contains 'papers'" -%}

  {%- assign journal_articles_list = papers_list | where_exp:"item","item.tags contains 'journal_article'" -%}
  <h2 class="section-header">Journal Articles</h2>
  {%- include publications_section.html article_list = journal_articles_list -%}

  {%- assign refereed_other_list = papers_list | where_exp:"item","item.tags contains 'refereed_and_other'" -%}
  <h2 class="section-header">Refereed Book Chapters and Other Publications</h2>
  {%- include publications_section.html article_list = refereed_other_list -%}

  {%- assign working_reports_list = papers_list | where_exp:"item","item.tags contains 'working_and_reports'" -%}
  <h2 class="section-header">Working Papers and Reports</h2>
  {%- include publications_section.html article_list = working_reports_list -%}

  {%- assign posters_list = papers_list | where_exp:"item","item.tags contains 'posters'" -%}
  <h2 class="section-header">Posters</h2>
  {%- include publications_section.html article_list = posters_list -%}

</div>
<script>
{% include scripts/publications.js %}
</script>
