---
layout: page
titles:
  # @start locale config
  en      : Research
  # @end locale config
show_title: false
---
<div class="layout--research">
<div id="hero-container">
  <img src="{{ page.hero_image }}" class="hero-image">
  <div id="hero-text">
    <h3>Researching achievable, sustainable infrastructure solutions for all the world regions</h3>
  </div>
</div>
<h2>Power Transformation Lab Focus</h2>
<div id="triple-box-container">
  <a class="box">
    <h3>{{ page.box1 }}</h3>
  </a>
  <a class="box">
    <h3>{{ page.box2 }}</h3>
  </a>
  <a class="box">
    <h3>{{ page.box3 }}</h3>
  </a>
</div>

{{ content }}

<script>
  {%- include scripts/research.js -%}
</script>
