---
layout: page
show_title: false
---
<div id="team-container">
  <h2 class="section-header">Meet The Lab</h2>
  <div class="large-bio-container clearfix">
    {% assign _mainbio = site.team | first %}
    <div class="mainbio-header">
      <h3>{{ _mainbio.name }}</h3>
      <img src={{ _mainbio.img }} alt="Portrait of {{ _mainbio.name }}">
    </div>
    {{ _mainbio.content }}
  </div>
  {% assign _non_alumni = site.team | where: 'alumni', nil %}
  {% assign _alumni = site.team | where: 'alumni', true %}
  <div class="grid-container">
  <div class="grid-bio-container grid grid--p-3">
  {% for _member in _non_alumni offset: 1%}
    <div class="bio cell cell--12 cell--md-6 cell--lg-4 content">
      <h3>{{ _member.name }}</h3>
      {% if _member.img %}
      <div class="square-image-container">
        <img src={{ _member.img }} alt="Portrait of {{ _member.name }}">
      </div>
      {% endif %}
      {{ _member.content }}
    </div>
  {% endfor %}
  <div class="alumni bio cell cell--12 cell--md-6 cell--lg-4 content">
    <h3>Alumni</h3>
    <ul>
      {% for _alum in _alumni %}
        <li>{{ _alum.name }}</li>
      {% endfor %}
    </ul>
  </div>
  </div>
  </div>
</div>
