---
layout: articles
titles:
  # @start locale config
  en      : &EN       Lab Updates
  # @end locale config
show_title: false
articles:
  data_source: paginator.posts
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
{%- assign _bgcolor = "1199ff" -%}
<div class="hero-container" style="background-image: url({{ page.hero_image }}); background-color: #{{ _bgcolor }}">
  <div class="hero-text">
    <h1>{{ page.title }}</h1>
  </div>
  {% include svg/down-arrow2-svgrepo-com.svg dark=page.dark_arrow %}
</div>
<div class="hero-spacer"></div>
<script> {% include scripts/components/hero.js %}</script>
<div class="layout--writing">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/writing.js -%}
</script>

{{ content }}
