.icon {
  display: block;
  > svg {
    display: block;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 80px;
  @include media-breakpoint-down(md) {
    scroll-padding: 64px;
  }
}
