.layout--home {
  .hero-text {
    h1 {
      padding: 0 32px;
      @include media-breakpoint-down(md) {
        font-size: map-get($base, font-size-h1-sm);
      }
    }
    h2 {
      font-weight: 600;
      padding: 0 32px;
    }


    hr {
      border: 2px solid $text-color-1;
      color: rgba(0,0,0,0);
    }

    hr {
      width: 80%;
      margin-left: 10%
    }
  }
  h1 {
    margin-top: 36px;
  }
}
