.layout--home {
  .hero-text {
    h1 {
      margin: 0 96px 0 0;
      padding: 0;
      @include media-breakpoint-down(lg) {
        font-size: 2.75rem;
        margin: 0 32px;
      }
      @include media-breakpoint-down(md) {
        font-size: 2rem;
      }
    }
    h2 {
      display: inline-block;
      font-size: 2.25rem;
      font-weight: 600;
      padding: 0 0 16px 0;
      border-bottom: 4px solid;
      margin-bottom: 24px;
      @include media-breakpoint-down(lg) {
        margin: 0 32px;
        font-size: 1.75rem;
      }
    }
  }
  p {
    overflow: auto;
  }
  #mini-logo {
    float: right;
    width: 30%;
    padding-left: 48px;
    @include media-breakpoint-down(lg) {
      wdith: 30vw;
      padding-left: 12px;
    }
    @include media-breakpoint-down(md) {
      display: none
    }
  }
}
