.in-the-media {
  .triple-box-container .box {
    h3 {
      background-color: rgba(101,129,41,0.8);
      padding: 12px;
    }
  }
  .article-list .cell {
    .card__header {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
