.layout--news {
  .section-header {
    font-size: map-get($base, font-size-h2-xl);
    margin-top: 0;
  }

  .media-card {
    display: block;

    h3 {
      font-family: 'Montserrat', sans-serif
    }
  }
}
