.layout--news {
  .section-header {
    font-size: map-get($base, font-size-h2-xl);
    margin-top: 0;
  }

  .media-card {
    display: block;

    h3 {
      font-family: 'Montserrat', sans-serif
    }
    p {
      line-height: 1.5rem;
      font-size: 1rem;
      border-left: 3px solid $main-color-3;
      padding-left: 8px;
    }
  }

  #in-the-media-container ul {
    list-style-type: none;
    padding: 0;
  }

  .click-for-more {
    display: block;
    margin-bottom: 24px;
  }
}
