.layout--research {
  #hero-container {
    height: 30vh;
    min-height: 200px;
    position: relative;
    margin: 0 -3rem;

    .hero-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #hero-text {
      width: 80%;
      height: 115px;

      // vertical centering
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      text-align: center;
      background-color: rgba($main-color-1, 0.7);
      // shadow is gonna be difficult to do with how the angled corner is constructed
      // box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
      clip: rect(0 80% 115px 0);

      // text and hr colors
      h2 {
        color: $text-color-1;
        height: 100%;
      }
    }

    #hero-text:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(115px);
      border-width: 115px 115px 0 0;
      border-style: solid;
      border-color: rgba($main-color-1, 0.7) transparent;
    }
  }

  #triple-box-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, calc(33.3% - 4px));
    justify-content: space-between;
    font-family: "Josefin Sans", sans-serif;
    .box {
      background-color: $main-color-1;
      padding: 8px;
      text-align: center;
      h3 {
        color: $text-color-1;
        font-size: 18px;
      }
      box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.3);
    }
    .box:first-of-type {
      background-color: $main-color-2;
    }
    .box:last-of-type {
      background-color: $main-color-3;
    }
  }
}
