.layout--research {
  h1 {
    font-size: 3rem;
  }
  .section-header {
    font-size: map-get($base, font-size-h2-lg);
    margin-top: 0;
  }

  h2 {
    border-top: 4px solid $main-color-3;
    margin-top: 36px;
    padding-top: 24px;
  }

  h2:first-of-type {
    border-top: none;
  }

  h2.item__header {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    position: relative;
    font-size: 1.5rem;
  }

  hr {
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #658129;
  }

  p img {
    float: left;
    margin-right: 28px;
    max-width: 45%;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: none;
    }

    // this style is applied in scripts/research.js because nth-of-type only works on siblings instead of across the whole document
    &.right-align {
      float: right;
      margin-left: 28px;
      margin-right: 0;
    }

  }

  #lab-focus h2 {
    font-size: map-get($base, font-size-h2-xl);
  }

  #key-questions,#key-questions-1,#key-questions-2 {
    border-left: 6px solid $main-color-3;
    padding-left: 12px;
  }

  p {
    // clearfix
    overflow: auto;
    text-align: justify;
    text-justify: auto;
  }

  p,li {
    line-height: 1.7rem;
  }

  .sticky-sidebar {
    padding-left: 18px;
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }
}
