.layout--research {
  .section-header {
    font-size: map-get($base, font-size-h2-xl);
    text-align: center;
  }
  #research-hero-text {
    height: 200px;

    // vertical centering
    position: absolute;
    top: 45%;
    left: 0;
    right: calc(3rem + 200px);
    transform: translateY(-50%);
    text-align: center;
    background-color: rgba($main-color-3, 0.7);
    // shadow is gonna be difficult to do with how the angled corner is constructed
    // box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);

    @include media-breakpoint-down(lg) {
      width: 100%;
      left: 0;
    }

    // text and hr colors
    h3 {
      color: $text-color-1;
      width: 90%;
      margin: auto auto;
      font-family: "Josefin Sans";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.7rem;
      @include media-breakpoint-down(lg) {
        font-size: 1.25rem;
        padding: 0px 24px;
      }
      @include media-breakpoint-down(md) {
        font-size: 1.1rem;
      }
    }
  }

  #research-hero-text:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(200px);
    border-width: 200px 200px 0 0;
    border-style: solid;
    border-color: rgba($main-color-3, 0.7) transparent;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  #research-hero-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * max(0px, calc((100vw - 1400px)/2)));
    width: max(0px, calc((100vw - 1400px)/2));
    height: 200px;
    background-color: rgba($main-color-3, 0.7);
  }


  h2 {
    border-top: 2px solid $main-color-3;
  }

  h2:first-of-type {
    border-top: none;
  }

  h2.item__header {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    position: relative;
  }

  h2.item__header::before {
    content: "•";
    position: absolute;
    top: 0;
    left: -18px;
  }

  hr {
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #658129;
  }

  p img {
    float: left;
    margin-right: 12px;
    max-width: 60%;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: none;
    }

    // this style is applied in scripts/research.js because nth-of-type only works on siblings instead of across the whole document
    &.right-align {
      float: right;
      margin-left: 12px;
      margin-right: 0;
    }

  }

  #lab-focus h2 {
    font-size: map-get($base, font-size-h2-xl);
  }

  #key-questions,#key-questions-1,#key-questions-2 {
    border-left: 6px solid $main-color-3;
    padding-left: 12px;
  }

  p {
    // clearfix
    overflow: auto;
  }

  article.item {
    margin-left:36px;
  }

}
