
#team-container {
  img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  h3,h2 {
    text-align: center
  }
  h2 {
    font-size: map-get($base, font-size-h2-lg)
  }
}
