
#team-container {
  .square-image-container {
    width: 100%;
    max-width: 500px;
    position: relative;
  }

  .square-image-container::before {
    content: "";
    display: block;
    padding-bottom: 100%;  /* This creates aspect ratio */
  }

  .square-image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  h3,h2 {
    text-align: center
  }
  h2 {
    font-size: map-get($base, font-size-h2-xl)
  }

  h3 {
    font-size: map-get($base, font-size-h3-lg)
  }

  .large-bio-container img {
    margin-top: 12px;
  }

  .alumni ul li {
    font-weight: 500;
    font-size: 1.3rem;
  }

  @include media-breakpoint-down(lg) {
    .large-bio-container img {
      margin-top: 0
    }
  }
}
