
#team-container {
  .grid-container {
    margin: -1rem /* this and the margin:0 a few lines below fixes shadow overflow issues for the team member images*/
  }
  .grid-bio-container {
    margin: 0;
    .square-image-container {
      width: 100%;
      max-width: 500px;
      position: relative;
    }

    .square-image-container::before {
      content: "";
      display: block;
      padding-bottom: 100%;  /* This creates aspect ratio */
    }

    .square-image-container img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  h3,h2 {
    text-align: center
  }
  h2 {
    font-size: map-get($base, font-size-h2-xl)
  }

  h3 {
    font-size: map-get($base, font-size-h3-lg)
  }

  .mainbio-header {
    width: 50%;
    max-width: 400px;
    float: left;
    padding-right: 24px;
    img {
      margin-top: 12px;
      width: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      float: none;
      padding-right: 0;
    }
  }

  img {
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.3);
  }

  p {
    font-size: 1rem
  }

  .alumni ul li {
    font-weight: 500;
    font-size: 1.3rem;
  }

  @include media-breakpoint-down(lg) {
    .large-bio-container img {
      margin-top: 0
    }
  }

  .member-bio {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.8em;
    max-height: 7.2em;
    transition: max-height 300ms;
  }

  .member-bio.active {
    display: block;
    max-height: 9999px;
  }

  .read-more {
    font-size: 0.9rem;
  }
}
