.layout__publications {
  .article-title {
    font-size: 1.4rem;
  }
  .citation {
    margin-left: 32px;
    font-size: 1rem;
  }

  #show-all {
    padding: 10px 8px 6px 8px;
    border-radius: 2px;
    background-color: $main-color-3;
    color: $text-color-1;
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,.3);
    font-family: "Josefin Sans", sans-serif
  }

  .section-header {
    border-left: 6px solid $main-color-3;
    padding: 8px 12px;
  }
}
